body {
  text-align: center;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  margin: auto;
  background: url(carrot/img/background.png) center/cover;
  border-radius: 20px;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game__button {
  width: 60px;
  height: 60px;
  background-color: wheat;
  border: 4px solid black;
  font-size: 24px;
  border-radius: 10px;
  transition: transform 300ms ease-in;
}

/* i.invisable {
  display: none;
} */

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 100px;
  background-color: whitesmoke;
  text-align: center;
  border: 5px solid black;
  font-size: 32px;
  margin-top: 8px;
  border-radius: 20px;
  visibility: hidden;
}

.game__score {
  margin-top: 8px;
  width: 50px;
  height: 50px;
  font-size: 42px;
  text-align: center;
  background-color: darksalmon;
  color: blanchedalmond;
  border: 3px solid black;
  border-radius: 50%;
  visibility: hidden;
}

.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 40px;  /* 당근, 벌레가 흩뿌려질 범위  */
}

.pop-up {
  display: block;
  width: 400px;
  height: 140px;
  margin: auto;
  background-color: #00000090;  /* 배경만 90% 투명도 줘서 글자, 아이콘은 불투명하게 */
  color: whitesmoke;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  transform: translateY(-150%);
}

.pop-up__hide {
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;

}

.pop-up__message {
  display: block;
  font-size: 38px;
  padding-top: 18px;
  text-transform: uppercase;
}
